.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  max-width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    height: 54px;
    padding: 14px 0;
  }
}
