footer {
  background-color: #f2f2f2;
  text-align: center;
}


.footer__social-list {
  display: flex;
  list-style: none;
  width: 132px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__social-link {
  display: flex;
}

.footer__social-link--vkontakte::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-vkontakte");
  background-size: 28px 22px;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.footer__social-link--youtube::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-youtube");
  background-size: 28px 22px;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.footer__social-link--telegram::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-telegram");
  background-size: 28px 22px;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__copyright-link {
  color: #444444;
}

.footer__copyright-logo {
  display: flex;
}

.footer__copyright-logo::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-html-academy");
  background-size: 28px 22px;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
}
