.hero {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;

  // background-color: $bg-basic-green;
  // background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../../images/index-background-mobile@1x.jpg" 1x type("image/jpeg"), "../../images/index-background-mobile@2x.jpg" 2x type("image/jpeg"));
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // height: 320px;
  // margin-bottom: 198px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: none;
    height: 875px;
  }

  @media (min-width: $desktop-width) {
    // height: 694px;
    // background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../../images/index-background-mobile@1x.jpg" 1x type("image/jpeg"), "../../images/index-background-mobile@2x.jpg" 2x type("image/jpeg"));
    // background-repeat: no-repeat;
    // background-size: 50% 100%;
    // background-position: right;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 224px;
    padding-left: 80px;
    width: 416px;
  }
}

.hero__moto {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 224px;
    padding-left: 80px;
    width: 416px;
  }
}

.hero__img {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}
