.hero {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  background-color: $bg-basic-green;
  text-align: center;
}

.hero__title {
  font-weight: 400;
}

.hero__moto {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
