.how-it-works__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  display: flex;
  margin-bottom: 20px;
}

.how-it-works__item--healthy::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
}

.how-it-works__item--powder::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-boil");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
}

.how-it-works__item--cutlery::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
}

.how-it-works__item--clock::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-clock");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
}
