.more-products {
  text-align: center;
}

.more-products__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-products__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
}

.more-products__button {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}

.more-products__title::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
