.nav__list {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.header__nav-button {
  background-image: url("../../icons/stack.svg#icon-navigation");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
}
