
.programs__list {
  text-decoration: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}


.programs__item {
  background-color: $bg-basic-grey;
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__text {
  font-family: "Lato", sans-serif;
  font-style: 14px;
  line-height: 18px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
  }
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.6px;
  }
}

.program__link::after {
  content: "";
  margin-left: 15px;
  background-image: url("../../icons/stack.svg#icon-arrow");
  background-size: 24px 12px;
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
}

@media (max-width: $mobile-width-only) {
  .program {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .program--lose-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#slim-cat");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    position: absolute;
  }

  .program--gain-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#pro-cat");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    position: absolute;
  }
}


@media (min-width: $tablet-width) {
  .program {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 340px;
  }

  .program--lose-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#slim-cat");
    background-size: 200px 211px;
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    position: absolute;
  }

  .program--gain-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#pro-cat");
    background-size: 268 200px;
    background-repeat: no-repeat;
    width: 268px;
    height: 200px;
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .program {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
  }

  .program--lose-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#slim-cat");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    position: absolute;
  }

  .program--gain-weight::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#pro-cat");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    position: absolute;
  }
}
