.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $main-text-color;
}

.subscribe__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $main-text-color;
}

.subscribe__form {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
